@import './animation.scss';

html {
    font-family: 'Noto Sans', sans-serif;
}

body {
    overflow: overlay;

    ::-webkit-scrollbar {
        width: 0.5rem !important;
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(156, 163, 175, 0.5);
        border-radius: 999999px;
    }
}

.custom-scrollbar {
    ::-webkit-scrollbar {
        width: 0.375rem !important;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(156, 163, 175, 0.5);
        border-radius: 999999px;
    }
}

.container {
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
